/* 
    Document   : style
    Created on : 15.03.2013, 15:46:26
    Author     : mizko
    Description:
        Purpose of the stylesheet follows.
*/

body > section { 
    display: block;
    background: #C9C9C9;
}

footer{
    margin-top: 30px;
}