/* 
    Document   : style
    Created on : 15.03.2013, 15:46:26
    Author     : mizko
    Description:
        Purpose of the stylesheet follows.
*/
html{ height:100%; padding: 0; margin: 0; }
body{height:100%; padding: 0; margin: 0; min-height: 100%;}
body{
    background: #FFF;
    font-size: 12px;
}
h2{ font-size: 24px; line-height: 25px;}
h3{ line-height: 21px; font-size: 20px;}

/* стили для пользователя */

ul.nav{font-size: 13px;}

/* стили для модулей */

/* module catalog */
ul.breadcrumbs li{float:left; margin-right: 5px; vertical-align: middle;}
ul.breadcrumbs li h3{ margin: 0; font-weight: normal;}
.row.products{ margin-right: -5px;}
.products .product .logoMag{position: absolute; top:6px; left:6px; opacity: 0.4;}
.products .product .logoMag:hover{opacity: 1;}
.products .product{ margin-bottom: 30px; position: relative;}
.products .product .imgblock{overflow: hidden; height: 241px; vertical-align: middle; line-height: 241px;}
.products .product a{color:#000;}
.products .product a:hover{ text-decoration: none;}
.products .product .title{ color: #999; min-height: 22px;max-height: 22px; overflow: hidden; line-height: 11px; margin-bottom: 5px; margin-top: 5px;}
.products .product .params{ position: relative; height: 20px;}
.sale{color: #FF1111; font-size: 20px; font-weight:bold}
.products .product .sale{ position:absolute; left:0; width: 50%;}
.price{font-size: 150%;}
.products .product .price{position:absolute; right:0; width: 50%; font-size: 20px; line-height: 20px; vertical-align: top;    text-align: right; font-size: 18px;}
.product_page .price{ font-size: 25px;}
.images-block{ margin-top: 10px;}
.images-block img{ cursor: pointer;}
.images-block img.active{border: 1px solid #0044CC;}
.products .product small{line-height: 10px;}

.price .currency{ font-size: 70%; vertical-align: top;}
.oldprice{display:block; font-size: 10px; line-height: 10px; text-decoration: line-through;}
.currency{  /*text-decoration: line-through;*/}
.currency:after{content: "уб."; display: inline;}

#orderform .control-label{text-align: left;}
input.count{ padding: 0 6px; font-size: 10.5px; min-height: 20px !important; height: 22px;}

/*
.currency:before { content: "_"; position: absolute; top:-51%;}
.oldprice .currency:before{content: "";}
*/
/* // module catalog */

/*module catalog_tree */
.catalog_tree .nav-list{ padding-left: 0; padding-right: 0;}
.catalog_tree .nav-list .nav-list{ padding-left: 15px;  }
.catalog_tree .nav-list .nav-list > li{ position: relative;}
.catalog_tree li.nav-header{position: relative;}
.catalog_tree .nav-list .nav-list > li > a{ padding: 0 10px; }
i.action{ display: inline-block; position: absolute; right:0; top:0; padding: 3px; cursor:pointer; margin-left: 5px; display:none;}
.catalog_tree .nav-list .nav-list li:hover i.action{ display: block;}
.catalog_tree li.nav-header:hover i.action{ display: block;}
/* //module catalog_tree */

/*предопределенные стили шаблона */
footer{
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: #F5F5F5;
}


span.loading{
    display:block;
    height:150px;
    background:url(../img/loading.gif) no-repeat center center;
}


aside div.news > article > h1{
    font-size:12px;
    line-height:14px;
    text-align: justify;
}
