
div.modal > p{
    margin:0;
    padding:34px 20px;
    text-align:center;
}
.unpublished{ opacity: 0.4}
/* контейнер для админа */
.admin_tools{
    display:inline;
}
.admin_tools, .admin-modal *{ font-family: Arial; line-height: normal;}
.admin-module{
    border:1px solid rgba(255,125,125,0.20);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    min-height: 200px !important;
    margin-bottom: 10px;
    position: relative;
}
footer.admin-module, .navbar .admin-module{ min-height: 50px !important;}
.admin-module:hover{
    /*background:#F2F2F2;*/
    /*padding:20px;*/
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border:1px dotted rgba(255,125,125,1.0);
}
.admin-module .admin-module{
    border:1px dotted rgba(125,125,255,1.0);
    margin: 3px;
    min-height: 0 !important;
}

.admin-module .btn-toolbar{
	display: none;
	position: relative;
        margin: 0;
}
.admin-module:hover .btn-toolbar{
	display: inherit;
}
.admin-module:hover > .admin-module .btn-toolbar{
	display: none;
}
.admin-module:hover > .admin-module:hover .btn-toolbar{
	display: inherit;
}
.admin-module .btn-toolbar.admin-module-tools{ display:none;}
.admin-block .btn-toolbar.admin-module-tools{display: block;}

.admin-module .btn-toolbar .btn-group{
	position: absolute;
	right:0;
	top:0;
	background-color: rgba(255,125,125,0.5);
	padding: 3px;
	border:1px dotted rgba(125,125,255,1.0);
        border-top:none;
        border-right:none;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
	opacity: 0.8;
        z-index: 1000;
}
.admin-module .btn-toolbar.element .btn-group{
    background-color: rgba(125,125,255,0.5);
    left:0;
    border:1px dotted rgba(125,125,255,1.0);
    border-top:none;
    border-right:left;
    width: auto;
    right: auto;
}
.name_module{position: relative;}
.name_module div{position: absolute; left:45%; top:0; background-color: rgba(255,125,125,0.5); padding: 2px; font-size: 9px; line-height: 9px; border-radius: 4px; color: rgba(125,125,255,1.0); }
.admin_tools:hover .name_module div{display: block;}
a[action='addmodule']{ display: block; margin: 5px auto; width:110px; }

header.header{
    min-height: 100px;
    background:#DDDDDD;
}

aside.aside{
    padding:20px 20px;
    min-height: 100px;
    background:#DDDDDD;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

aside nav.nav{
    padding:20px 20px;
    min-height: 100px;
    background:#CCCCCC;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}


#admin-panel{
	background:#1b1b1b;
	border-bottom:1px solid #EE5F5B;
	padding:14px 20px;
	/*text-align:right;*/
        width: 100%;
	color:#FFFFFF;
        display:none;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        position: fixed;
        z-index:10;
}
#admin-panel p{
    display:inline;
}
#admin-panel .btn-toolbar-admin{
    display:inline;
    margin-left: 20px;
}
#admin-sub-panel{
	text-align:center;
	right:0;
	width:150px;
	float:right;
	color:#FFFFFF;
	text-decoration:none;
	margin-right:30px;
	background:#1b1b1b;
        
        
        border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        position: fixed;
        z-index: 100;
}
#admin-sub-panel span {
    cursor: pointer;
    display: block;
    margin-top: -5px;
}
.modal.admin-modal{ width: 800px; margin-left: -400px;}
.thumbnail.newmodules_block{ height: 65px;}
.verysmall{font-size: 10px; line-height: 10px; display: block; color:#666;}

/* стиль формы редактирования и перетаскивания */
.contanier_drag_drop{ position: relative;}
aside.toolbar_forms{position: absolute; background: #CCC; width:20%; top:0; left:0; padding: 10px;}
div.dd{ margin-left: 25%; border:1px dotted #ccc; min-height: 300px; }

/* Стиль поля редактирования кода */
.sourceEditor{
	font-family: Consolas,Monaco,monospace;
    font-size: 13px;
    line-height: 18.2px;
	width: 97%;
	min-height: 250px;
	
}
